.slide-show{
    margin-top: 56px;
    background: #F9F1E7;
    height: 100%; 
    padding: 24px 0 48px 0;
}

.carousel-item {
    position: relative !important;
}

.slide-show .list-product {
    display: flex;
}
.form-content{
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.72);
    height: 70%;
    bottom: 18%;
    width: 30% !important;
    left: 15%;
}

.content {
    margin: 48px;
}

.btn-shop {
    margin-top: 36px;
    padding: 24px 96px;
    background: rgba(232, 159, 113, 1) ;
    color: aliceblue ;
    text-decoration: none ;
    border: none ;
    border-radius: none ;
}

.detail-slider{
    position: absolute;
    background: rgba(255, 255, 255, 0.72);
    width: 25% !important;
    height: 20%;
    bottom: 20% ;
    right: 15%;
}

.detail-slider-2{
    left: 20% !important;
    bottom: 15% !important;
    padding: 24px !important;
    height: 25% !important;
    display: block;
}


